* {
  font-family: "Montserrat", sans-serif;
}

div.container-fluid {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
  padding: 0px 10px;
}

h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
}

p {
  font-size: 0.875em; /* 14px/16=0.875em */
  color: indigo;
}

article {
  border-radius: 2%;
  font-size: 0.7em;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  padding: 20px 20px;
  transition-property: color;
  transition-duration: 2s;
}

article::first-line {
  color: purple;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

.display-5 {
  padding: 10px 10px;
}

.nav-subject {
  margin-top: 10px;
  font-size: 18px;
}

.table {
  font-size: 15px;
}

div > span {
  color: #fcd5ce;
}

/* top-left-logo */
#navbar-logo {
  padding-left: 50px;
  color: palevioletred;
}
